.main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.bars {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.barContainer {
  height: 1rem;
  background-color: #ccc;
  width: 500px;
}

.bar {
  background-color: green;
  height: inherit;
  transform: scaleX(0);
  transform-origin: left;
  transition-duration: 2000ms;
  transition-property: transform;
  transition-timing-function: linear;
}

.barFilled {
  transform: scaleX(1);
}
