/* Page */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* Modal */
.modal {
  max-width: 70vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1rem;

  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  div {
    text-align: center;
    margin-top: 1rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
